<div class="home-container">
  <%= render "items/add_item_button" %>

  <div class="cards items">
    <% if @items.any? %>
      <% @items.each do |item| %>
        <div class="card">
          <div class="card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= item.photo.present? ? cl_image_path(item.photo) : asset_path('bedged-red.jpg') %>')">
            <%= link_to item.name, item_path(item), class: "card-title" %>
            <p class="card-price"><%= number_to_currency(item.price) %></p>
            <p class="card-category"><%= item.category.name %></p>
            <% if current_user.owner? %>
              <div class="card-actions">
                <%= link_to "Edit", edit_item_path(item), class: "btn btn-sm btn-primary" %>
                <%= link_to "Delete", item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No items available.</p>
    <% end %>
  </div>
</div>
